<%- include('../includes/head.ejs') %>
   <%- include('../includes/navigation.ejs') %>

   <div class="register-form-header">
      <h1>Update Password</h1>
   </div>
   <div class="login-form">
      <form class="ui form" action="/new-password" method="POST">
         <div class="field">
            <label>Password</label>
            <input type="password" placeholder="password" name="password" id="password">
         </div>
         <input type="hidden" name="_csrf" value="<%= csrfToken %>">
         <input type="hidden" name="userId" value="<%= userId %>">
         <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
         <button class="ui button primary" type="submit">Update Password</button>
      </form>
   </div>
   
<%- include('../includes/footer.ejs') %>